.App {
    position: relative;
    overflow-x: clip;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.white-gradient {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.522);
    /*TODO: Give theme color*/
    filter: blur(100px);
    border-radius: 100px;
}

.form-wrapper > div {
    gap:1rem;
}